.cover_container {
    display: grid;
    grid-template-rows: 1fr;
}

.cover_format {
    grid-column: 1 / 10;
    grid-row: 1
}

.cover {
    grid-row: 1
}

.cover_quantity {
    position: relative;
    bottom: 24px;
    left: 8px;
}

.cover_desc {
    padding-top: 3px;
    padding-left: 8px;
    grid-row: 1;
    grid-column: 1 / 10;
}